# This file should be put under /etc/systemd/system/.

[Unit]
Description=SNMP daemon
After=default.target

[Service]
Type=simple
ExecStart=/bin/bash /root/demo-ncap/snmpd/scripts/snmp-daemon.sh

[Install]
WantedBy=default.target
